In [1]:
import functions as f
import pandas as pd
import locale
locale.setlocale(locale.LC_TIME, 'pt_BR.utf8')

'pt_BR.utf8'

In [2]:
df = f.leTab("Planilha_vitoria.csv")
df

,Estacao,Data,Tx,Tn,Tmed,UR,Prec,Eto,Insolação,Velocidade do Vento Media
0,83648,01/01/1961,"32,2","24,0","26,86","73,25",NaN,NaN,"6,0","3666667,0"
1,83648,02/01/1961,"25,5","23,4","24,42","89,5","1,2",NaN,"0,0","3333333,0"
2,83648,03/01/1961,"28,8","22,4","24,78","83,0","7,9",NaN,"0,2","4333333,0"
3,83648,04/01/1961,"28,0","22,6","24,68","88,5","1,6",NaN,"0,0","2666667,0"
4,83648,05/01/1961,"27,6","23,6","25,46","88,0","0,2",NaN,"0,0","1666667,0"
...,...,...,...,...,...,...,...,...,...,...
19351,83648,13/06/2019,"30,0","22,2","25,04","80,5","0,8",NaN,"8,4",NaN
19352,83648,14/06/2019,"30,3","22,2","25,38","78,5","0,0",NaN,"9,0",NaN
19353,83648,15/06/2019,"28,9","21,6","24,3","80,5","0,0",NaN,"3,5",NaN
19354,83648,16/06/2019,"28,5","20,5",NaN,"83,0","0,0",NaN,"5,2",NaN
19355,83648,17/06/2019,NaN,"20,5",NaN,NaN,"0,0",NaN,NaN,NaN

Definição do Período a ser Analisado:

In [3]:
#Seleciona e retorna um intervalo de df
dataInicial = '04/01/1976'
dataFinal = '04/08/1976'
intervalo = f.dataTab(df,dataInicial,dataFinal)

#Seleciona e retorna um df do mes selecionado
mes = '03'
intervaloMes = f.dataMes(df,mes)
intervaloMes

#Seleciona e retorna um df do ano selecionado
ano = '2013'
intervaloAno = f.dataAno(df,ano)
intervaloAno

,Estacao,Data,Tx,Tn,Tmed,UR,Prec,Eto,Insolação,Velocidade do Vento Media,Mês,Ano
16997,83648,2013-01-01,"32,9","24,6","27,78",NaN,"0,0",NaN,"9,9","3,0",01,2013
16998,83648,2013-01-02,"32,9","25,0","28,22",NaN,"0,0",NaN,"10,1","2,5",01,2013
16999,83648,2013-01-03,"32,5","25,4","28,14",NaN,"0,0",NaN,"9,9","2,5",01,2013
17000,83648,2013-01-04,"33,3","24,5","27,96",NaN,"0,0",NaN,"8,6","1,0",01,2013
17001,83648,2013-01-05,"32,8","24,9","28,14",NaN,"0,0",NaN,"8,4","2,5",01,2013
...,...,...,...,...,...,...,...,...,...,...,...,...
17357,83648,2013-12-27,"31,9","23,0","27,06","74,25","0,0",NaN,"10,7","3666667,0",12,2013
17358,83648,2013-12-28,"31,9","23,2","27,22","75,25","0,0",NaN,"9,2","3666667,0",12,2013
17359,83648,2013-12-29,"32,9","24,5","27,92","76,75","0,0",NaN,"9,0","2333333,0",12,2013
17360,83648,2013-12-30,"32,0","24,4","27,56","72,0","7,9",NaN,"9,9","4,0",12,2013
17361,83648,2013-12-31,"32,9","24,8","27,94","71,75","0,0",NaN,"10,1","3333333,0",12,2013

Media das temperaturas (Tx,Tn,Tmed,UR,Prec,Evap,Insolação)

In [6]:
#Seleciona e retorna a media de um intervalo especifico
intervaloMedia = f.calc_especifica(intervalo)
intervaloMedia

KeyError: 'Evap'

In [ ]:
#Seleciona e retorna a media dos meses de determinado ano
intervaloMesAno = f.calc_meses_ano(intervaloAno)
intervaloMesAno

          Tx         Tn       Tmed         UR   Prec   Evap  Insolação Mês
0        NaN        NaN        NaN        NaN    0.0    0.0        NaN  01
0  35.096154  23.107692  28.090000  67.634615  117.2   97.0   9.350000  02
0  33.774074  23.207407  27.187407  75.555556  133.6   84.0   6.641935  03
0  31.048000  20.540000  24.813600  75.640000   59.2   67.4   6.453333  04
0  29.974074  18.707407  23.278519  80.083333   39.2   74.0   6.016129  05
0  29.703846  17.723077  22.560769  85.961538   27.6   56.0   6.043333  06
0  29.807692  17.492308  22.264615  80.230769    2.4   74.9   6.419355  07
0  30.911111  17.018519  22.812593  75.000000    7.2   99.6   7.674194  08
0  31.484615  18.946154  24.023077  77.346154   30.8  104.9   6.806667  09
0  30.792308  19.980769  24.423846  79.307692  122.6   86.6   5.374194  10
0  31.788462  21.111538  25.807692  77.576923  171.2   86.1   6.320000  11
0  31.744828  22.772414  26.453793  84.400000  822.4   63.0   5.677419  12

In [ ]:
#Seleciona e retorna a media de todos os anos
intervaloMesAno = f.calc_anos(df)
intervaloMesAno

          Tx         Tn       Tmed         UR    Prec    Evap  Insolação   Ano
0  31.201093  19.408743  24.814208  70.342896  1652.8  1229.3   7.185519  1976
0  31.222192  18.500548  24.589534  74.210274  1206.7  1290.6   7.003562  1977
0  30.394521  18.053973  24.029260  77.768493  1259.8  1047.3   6.212637  1978
0  30.802857  19.255114  24.194091  69.895749  1304.6   839.7   5.781481  1979
0  31.011019  19.736066  24.235666  73.327186  1138.2  1048.1   6.471858  1980
0  30.079834  19.400000  23.822024  76.688356  1327.8  1011.6   5.901918  1981
0  30.878022  19.716712  24.286378  78.096685   811.4  1070.0   6.145753  1982
0  31.038674  20.251781  24.056589  84.526353  1185.8   365.3   6.084384  1983
0        NaN        NaN        NaN        NaN     0.0     0.0        NaN  1984
0  31.136915  19.482143  23.415116  78.436639  1222.7   275.3   6.792287  1985
0  32.180548  20.443288  25.432384  73.486951   590.8  1596.6   7.720879  1986
0  32.100275  20.751099  25.367857  76.779533   895.6  1338.1   6.722527  1987
0  31.300273  20.046995  24.504261  70.801913   933.5  1242.7   6.670765  1988
0  31.366301  20.070685  24.707781  73.470548   804.0  1364.7   6.607945  1989
0  32.172877  20.886575  25.504274  71.747260   676.0  1498.2   7.521370  1990
0  30.511507  20.106301  24.292055  76.232192  1072.1  1139.8   6.130685  1991
0  30.395628  20.345355  24.429399  76.512329  1245.7  1114.2   5.691257  1992
0  32.336164  20.577808  25.424110  70.975616   739.4  1428.4   7.430959  1993
0  31.791781  20.556164  25.213753  72.166209   796.6  1373.7   7.128571  1994
0  32.055890  20.838082  25.587342  74.971233  1081.1  1306.3   7.140385  1995
0  31.816393  20.283607  25.037923  69.956284   864.7  1312.9   7.138525  1996
0  31.891989  19.936464  24.720722  72.917127  1063.7  1230.7   7.289863  1997
0  32.742466  21.097534  25.941160  72.285616   784.2  1322.2   6.926849  1998
0  32.201918  20.142466  25.268986  67.917123   833.8  1281.3   7.003014  1999
0  31.832240  20.408197  25.069399  75.975410   840.6  1120.0   6.782240  2000
0  32.247671  20.492055  25.383342  73.184247   908.6  1185.0   7.054247  2001
0  32.210959  20.498904  25.281041  75.049315  1131.9   466.0   6.940000  2002
0  32.676712  20.118630  25.369041  69.697260   881.3  1215.1   7.250411  2003
0  31.100273  19.768306  24.607923  73.571721  1255.6   979.8   6.369126  2004
0  31.470959  20.227945  24.900822  75.403159  1309.7  1015.8   6.127747  2005
0  31.381370  19.944231  24.706593  72.526099  1091.6  1111.6   6.293425  2006
0  32.876099  20.098352  25.360275  70.212810   527.7  1334.2   7.317808  2007
0  32.712842  21.540339  26.142644  71.373634   820.0  1340.7   6.772603  2008
0  32.558082  20.927671  25.625096  73.863699   962.1  1208.8   7.035174  2009
0  32.540274  20.513973  25.438132  72.666209  1043.1  1241.1   6.997260  2010
0  31.491781  19.762363  24.543132  74.260989   948.5   989.3   6.551507  2011
0  32.562534  20.520661  25.429256  70.984765   777.3  1150.0   7.180548  2012
0  31.471134  20.077320  24.716289  78.040941  1533.4   893.5   6.594012  2013
0  32.651493  20.522222  25.394328  79.977612   170.2   460.9   7.066667  2014
0        NaN        NaN        NaN        NaN     0.0     0.0        NaN  2015
0        NaN        NaN        NaN        NaN     0.0     0.0        NaN  2016
0        NaN        NaN        NaN        NaN     0.0     0.0        NaN  2017
0        NaN        NaN        NaN        NaN     0.0     0.0        NaN  2018
0        NaN        NaN        NaN        NaN     0.0     0.0        NaN  2019
0        NaN        NaN        NaN        NaN     0.0     0.0        NaN  2020
0        NaN        NaN        NaN        NaN     0.0     0.0        NaN  2021
0        NaN        NaN        NaN        NaN     0.0     0.0        NaN  2022